<form>
    <label for="masterPlanInput">{{localize "TOOLS4E.import-json-screen.label"}}</label>
    <textarea type="text" id="masterPlanInput" name="masterPlanInput" data-dtype="String" onclick="this.select();" rows="10" cols="80" placeholder="{{localize "TOOLS4E.import-json-screen.placeholder"}}"></textarea>
    <button type="submit"><i class="fas fa-plus"></i>{{localize  "TOOLS4E.import-json-screen.import-button"}}</button>
</form>

<script>
    document.getElementById('masterPlanInput').focus();
    document.getElementById('masterPlanInput').select();
</script>
